mysqlclient
requests
httplib2
oauth2client
google-api-python-client
asyncio
pycrypto
cryptography
discord.py
Pygments
blessings
mysqldb_wrapper
dateparser

pytest
pytest-asyncio
pytest-mock
coverage
hypothesis
