[run]
branch = True

[report]
exclude_lines =
    def cog_check
    pragma: no cover
    def setup\(bot\)
    @[a-z_]*\.error
    def on_raw_reaction_add
    def background_task
omit =
    common/config.py
    test/**
    common/api/osu.py
    common/api/challonge.py
    /home/*